USE [MASTER]
GO
IF (EXISTS (SELECT NAME FROM SYSDATABASES WHERE NAME='SALES'))
 DROP DATABASE [SALES]
GO
CREATE DATABASE SALES
GO
USE [SALES]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Suppliers](
	[SupplierID] [int] NULL,
	[SupplierName] [nvarchar](255) NULL,
	[ContactName] [nvarchar](255) NULL,
	[Address] [nvarchar](255) NULL,
	[City] [nvarchar](255) NULL,
	[Country] [nvarchar](255) NULL,
	[Phone] [nvarchar](255) NULL
) ON [PRIMARY]
GO
INSERT [Suppliers] ([SupplierID], [SupplierName], [ContactName], [Address], [City], [Country], [Phone]) VALUES (1, N'Exotic Liquid', N'Charlotte Cooper', N'49 Gilbert St.', N'Londona', N'UK', N'(171) 555-2222')
INSERT [Suppliers] ([SupplierID], [SupplierName], [ContactName], [Address], [City], [Country], [Phone]) VALUES (2, N'New Orleans Cajun Delights', N'Shelley Burke', N'P.O. Box 78934', N'New Orleans', N'USA', N'(100) 555-4822')
INSERT [Suppliers] ([SupplierID], [SupplierName], [ContactName], [Address], [City], [Country], [Phone]) VALUES (3, N'Grandma Kelly''s Homestead', N'Regina Murphy', N'707 Oxford Rd.', N'Ann Arbor', N'USA', N'(313) 555-5735')
/****** Object:  Table [Shippers]    Script Date: 02/11/2020 08:18:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Shippers](
	[ShipperID] [int] NULL,
	[ShipperName] [nvarchar](255) NULL,
	[Phone] [nvarchar](255) NULL
) ON [PRIMARY]
GO
INSERT [Shippers] ([ShipperID], [ShipperName], [Phone]) VALUES (1, N'Speedy Express', N'(503) 555-9831')
INSERT [Shippers] ([ShipperID], [ShipperName], [Phone]) VALUES (2, N'United Package', N'(503) 555-3199')
INSERT [Shippers] ([ShipperID], [ShipperName], [Phone]) VALUES (3, N'Federal Shipping', N'(503) 555-9931')
/****** Object:  Table [Products]    Script Date: 02/11/2020 08:18:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Products](
	[ProductID] [int] NULL,
	[ProductName] [nvarchar](255) NULL,
	[SupplierID] [int] NULL,
	[CategoryID] [int] NULL,
	[Unit] [nvarchar](255) NULL,
	[Price] [decimal](10, 2) NULL
) ON [PRIMARY]
GO
INSERT [Products] ([ProductID], [ProductName], [SupplierID], [CategoryID], [Unit], [Price]) VALUES (1, N'Chais', 1, 1, N'10 boxes x 20 bags', CAST(18.00 AS Decimal(10, 2)))
INSERT [Products] ([ProductID], [ProductName], [SupplierID], [CategoryID], [Unit], [Price]) VALUES (2, N'Chang', 1, 1, N'24 - 12 oz bottles', CAST(19.00 AS Decimal(10, 2)))
INSERT [Products] ([ProductID], [ProductName], [SupplierID], [CategoryID], [Unit], [Price]) VALUES (3, N'Aniseed Syrup', 1, 2, N'12 - 550 ml bottles', CAST(10.00 AS Decimal(10, 2)))
/****** Object:  Table [Orders]    Script Date: 02/11/2020 08:18:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Orders](
	[OrderID] [int] NULL,
	[CustomerID] [int] NULL,
	[EmployeeID] [int] NULL,
	[OrderDate] [datetime] NULL,
	[ShipperID] [int] NULL
) ON [PRIMARY]
GO
INSERT [Orders] ([OrderID], [CustomerID], [EmployeeID], [OrderDate], [ShipperID]) VALUES (10248, 90, 5, CAST(0x000089B000000000 AS DateTime), 3)
INSERT [Orders] ([OrderID], [CustomerID], [EmployeeID], [OrderDate], [ShipperID]) VALUES (10249, 81, 6, CAST(0x000089B100000000 AS DateTime), 1)
INSERT [Orders] ([OrderID], [CustomerID], [EmployeeID], [OrderDate], [ShipperID]) VALUES (10250, 34, 4, CAST(0x000089B400000000 AS DateTime), 2)
GO
print 'Processed 100 total records'
/****** Object:  Table [OrderDetails]    Script Date: 02/11/2020 08:18:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [OrderDetails](
	[OrderDetailID] [int] NULL,
	[OrderID] [int] NULL,
	[ProductID] [int] NULL,
	[Quantity] [int] NULL
) ON [PRIMARY]
GO
INSERT [OrderDetails] ([OrderDetailID], [OrderID], [ProductID], [Quantity]) VALUES (1, 10248, 11, 12)
INSERT [OrderDetails] ([OrderDetailID], [OrderID], [ProductID], [Quantity]) VALUES (2, 10248, 42, 10)
INSERT [OrderDetails] ([OrderDetailID], [OrderID], [ProductID], [Quantity]) VALUES (3, 10248, 72, 5)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
/****** Object:  Table [Employees]    Script Date: 02/11/2020 08:18:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Employees](
	[EmployeeID] [int] NULL,
	[LastName] [nvarchar](255) NULL,
	[FirstName] [nvarchar](255) NULL,
	[BirthDate] [datetime] NULL,
	[Notes] [nvarchar](max) NULL
) ON [PRIMARY]
GO
INSERT [Employees] ([EmployeeID], [LastName], [FirstName], [BirthDate], [Notes]) VALUES (1, N'Davolio', N'Nancy', CAST(0x0000625A00000000 AS DateTime), N'Education includes a BA in psychology from Colorado State University. She also completed (The Art of the Cold Call). Nancy is a member of ''Toastmasters International''.')
INSERT [Employees] ([EmployeeID], [LastName], [FirstName], [BirthDate], [Notes]) VALUES (2, N'Fuller', N'Andrew', CAST(0x00004A6100000000 AS DateTime), N'Andrew received his BTS commercial and a Ph.D. in international marketing from the University of Dallas. He is fluent in French and Italian and reads German. He joined the company as a sales representative, was promoted to sales manager and was then named vice president of sales. Andrew is a member of the Sales Management Roundtable, the Seattle Chamber of Commerce, and the Pacific Rim Importers Association.')
INSERT [Employees] ([EmployeeID], [LastName], [FirstName], [BirthDate], [Notes]) VALUES (3, N'Leverling', N'Janet', CAST(0x00005AD300000000 AS DateTime), N'Janet has a BS degree in chemistry from Boston College). She has also completed a certificate program in food retailing management. Janet was hired as a sales associate and was promoted to sales representative.')
/****** Object:  Table [Customers]    Script Date: 02/11/2020 08:18:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Customers](
	[CustomerID] [int] NULL,
	[CustomerName] [nvarchar](255) NULL,
	[ContactName] [nvarchar](255) NULL,
	[Address] [nvarchar](255) NULL,
	[City] [nvarchar](255) NULL,
	[Country] [nvarchar](255) NULL
) ON [PRIMARY]
GO
INSERT [Customers] ([CustomerID], [CustomerName], [ContactName], [Address], [City], [Country]) VALUES (1, N'Alfreds Futterkiste', N'Maria Anders', N'Obere Str. 57', N'Berlin', N'Germany')
INSERT [Customers] ([CustomerID], [CustomerName], [ContactName], [Address], [City], [Country]) VALUES (2, N'Ana Trujillo Emparedados y helados', N'Ana Trujillo', N'Avda. de la Constitución 2222', N'México D.F.', N'Mexico')
INSERT [Customers] ([CustomerID], [CustomerName], [ContactName], [Address], [City], [Country]) VALUES (3, N'Antonio Moreno Taquería', N'Antonio Moreno', N'Mataderos 2312', N'México D.F.', N'Mexico')
/****** Object:  Table [Categories]    Script Date: 02/11/2020 08:18:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Categories](
	[CategoryID] [int] NULL,
	[CategoryName] [nvarchar](255) NULL,
	[Description] [nvarchar](255) NULL
) ON [PRIMARY]
GO
INSERT [Categories] ([CategoryID], [CategoryName], [Description]) VALUES (1, N'Beverages', N'Soft drinks, coffees, teas, beers, and ales')
INSERT [Categories] ([CategoryID], [CategoryName], [Description]) VALUES (2, N'Condiments', N'Sweet and savory sauces, relishes, spreads, and seasonings')
INSERT [Categories] ([CategoryID], [CategoryName], [Description]) VALUES (3, N'Confections', N'Desserts, candies, and sweet breads')
